.mainheading{
    text-align: center;
}

.btn btn-dark{
    background:red;
    position:relative;
    left:10px;
}
.btn btn-success{
    background:blue;
}


 
 .btn {
    background-color: #E2A9F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 