#section1{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ce/c8/46/cec84661c9bda1ada4ab2d4bc03c22c4.jpg");
}

#section2{
    background-image: url("http://s1.1zoom.me/b5050/519/356745-admin_1024x768.jpg");
}

#section3{
    background-image: url("https://www.themetropolehotel.ie/upload/slide_images/cork.jpg");
}

section{
    text-align: center;
    color: white;
    font-size: 25px;
    
}
